# Database (run `npx prisma dev` to start local Prisma Postgres)
DATABASE_URL="postgres://postgres:postgres@localhost:51214/template1?sslmode=disable&connection_limit=10&connect_timeout=0&max_idle_connection_lifetime=0&pool_timeout=0&socket_timeout=0"

# JWT
JWT_SECRET="dev_secret"
JWT_EXPIRES_IN="7d"

# App
NODE_ENV="development"
PORT=3000
APP_URL="https://api.kakidaki.my.id"